.body{
    background-color: black;
    padding: 0;
    margin: 0;
}
.about-link{
    color: #fff;
    font-size: 13px;
}
.about-content{
    color: #fff;
    font-size: 13px;
}
.about-heading{
    color: rgba(140, 135, 135, 0.805);

}
.about-link:hover{
    text-decoration: underline;
}
