.row{
    margin-top: 25px;
 }
 .card{
 text-align: center;
 margin: 10px;
 transform: scale(1.01);
 padding-top:8px;
 }
 .card-title{
    font-weight: bold;
 }
 .card:hover .card-img{
   transform: scale(1.03);
 }