*{
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
}
#addcard-button{
    height: 40px;
    background-color: rgba(145, 147, 188, 0.385);
    border:none;
    display:flex;
    width: 12%;
}
#addcard-button:hover{
    background-color: rgba(145, 147, 188, 0.385);
    color: rgb(2, 16, 98);
}
#badge{
    display:contents;
    font-size: 12px;
    color: red;
}

.cart-counts{
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: #ff398f;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}
.cart-right-section{
    width: 32px;
    position: relative;
}
.wishlist{
    width: 100%;
    /* background-color: black; */
    position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px;
  top: -3px;
  /* animation: rotate 2s linear infinite; */
}
/* @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes stretch {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -124px;
    }
  } */
.wishlist-botton-after{
    width: 23px;
    height: 23px;
    /* border-radius: 50%; */
    padding: 0;
    border: 0px none rgba(254, 253, 253, 0);
    text-align: center;
    /* background-color: #ffffff00; */
}
.wishlist-botton-before{
    width: 23px;
    height: 23px;
    /* border-radius: 50%; */
    padding: 0;
    border: 0px solid rgba(254, 253, 253, 0);
    text-align: center;
    background-color: #fff
}
.wishlist-icon-after{
    padding: 0;
    margin-top: -3px;
    color: rgb(255, 0, 0);
    font-size: 23px;
    background-color: #fff;
    border: none;
}
.wishlist-icon-before{
    padding: 0;
    margin-top: -3px;
    color: rgba(95, 86, 86, 0.584);
    font-size: 22px;
    
    /* border-color: aliceblue; */
}
#header-links{
    text-decoration: none;
    font-size: 15px;
    
}
@media screen and (max-width: 999px){
    #addcard-button{
        width: 24%;
        height: 35x;
      }
     

}
@media screen  and (max-width:400px) {
   
    #basic-nav-dropdown ,#header-links{
        font-size: 8px;
        padding: 0;
    }
    
}